<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Yol İşareti Tanıma</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🚦 Yol İşareti Tanıma Sistemi</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="file-upload" class="file-label">📁 Dosya seçin:</label>

            <input type="file" name="file" id="file-upload" accept="image/*" required 
                class="hidden-input"
                onchange="document.getElementById('file-name').textContent = this.files[0]?.name || 'Dosya seçilmedi';">

            <button type="button" onclick="document.getElementById('file-upload').click()">Dosya Seç</button>

            <p id="file-name" class="file-name">Dosya seçilmedi</p>

            <button type="submit" class="submit-button">Fotoğrafı Yükle</button>
        </form>

        {% if image_path %}
        <img src="{{ image_path }}" alt="Yüklenen Fotoğraf" class="uploaded-image">
    
        <div class="result">
            <p><strong>🔍 Tespit:</strong> 
                {{ predicted_class }}
                {% if example_sign_path %}
                    <img src="{{ url_for('static', filename=example_sign_path) }}" alt="Örnek İşaret" class="example-sign-inline">
                {% endif %}
            </p>
            <p><strong>🎯 Güven:</strong> {{ "%.2f" | format(confidence) }}%</p>
            <p><strong>⚡ Inference Süresi:</strong> {{ "%.2f" | format(inference_time) }} ms</p>
        </div>
    {% endif %}
    
    </div>
</body>
</html>
